<h1><%= Team.count %> Teams</h1>

<table>
 <% @teams.each do |team| %>
   <tr>
     <td>
         <%= image_tag( team.img ) if team.img.present? %>
     </td>
     <td>
       <%= link_to team.title, db_team_path( team ) %>
     </td>
     <td>
       <%= "(#{team.title2})" if team.title2.present? %>
     </td>
   </tr>
 <% end %><!-- teams.each -->
</table>
