
<% if tip.present? %>
  <td class='tip-score'>
    <span class='<%= tip.bingo_style_class %>'>
      <%= tip.public_score_str %>
    </span>
  </td>
<% else %>
  <td class='tip-score'>
    ♦<!-- fehler: datensatz fehlt! -->
  </td>
<% end %>
