<h1><%= Event.count %> Events</h1>

<table>
<% @events.each do |event| %> 
  <tr>
     <td>(<%= event.id %>)</td>
     <td><%= event.title %> (<%= event.key %>)</td>
  </tr>
<% end %><!-- events.each -->
</table>
