<h1><%= Event.count %> Veranstaltungen</h1>

<table>
<% @events.each do |event| %> 
  <tr>
     <td colspan='2'><%= link_to event.title, db_event_path( event ) %>
     </td>
  </tr>
<% end %><!-- events.each -->
</table>


