
@import "bourbon";

/************************
 *  global settings w/ variables
 */

/* note for web colors see
     http://en.wikipedia.org/wiki/Web_colors
 */

/* todo: check if // posible for comments?? in scss */

/** todo: add colors for btn and primar-btn  (use bootstrap variable names?)*/


$bingoText:         white;
$bingoBackground:   green;

$bingooText:        white;
$bingooBackground:  limegreen;  /* springgreen?? -- lighter green */

$bingoooText:       white;
$bingoooBackground: lime;      /* lighter lighter green */

$missingText:       white;
$missingBackground: orange;   /* tip missing label */


$focusBackground: #F8F50F;


/* colors for flash messages */

/* todo/fix: add warn/warning?? flash box */
$warningText:       white;     /* #c09853  */
$warningBackground: white;    /* #f3edd2  */

$errorText:         #B94A48;
$errorBackground:   #F2DEDE;
$errorBorder:       #EED3D7;

$successText:       #468847; 
$successBackground: #DFF0D8;
$successBorder:     #D6E9C6;

$noticeText:        #3A87AD;
$noticeBackground:  #D9EDF7;
$noticeBorder:      #BCE8F1;


table.play,
table.plays {

  .game-team-winner {
     font-weight: bold;
     color: darkgreen;
  }
  
  .game-team-draw {
     font-weight: bold;
     color: limegreen;
  }

  .game-team-calc {
     font-style: italic;
  }

  tr {
    &.game-group {
      background-color: lightgrey;
    }
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
        
    &.player-name {
     font-size: 60%;
    }

   &.game-toto12x {
     text-align: center;
   }
    
   &.game-group-title {
     /* font-weight: bold;  */
   }
   
   &.game-no-fixtures {
     text-align: center;
   }
    
   &.game-team1 {
     text-align: right;
     /* font-weight: bold; */
   }
   
   &.game-tip {
     text-align:  center;
     /* font-weight: bold; */
   }
   
   &.game-score {
     text-align:  center;
     /* font-weight: bold; */
   }
   
   &.game-team2 {
     /* font-weight: bold; */
   }
   
   &.game-date {
     color: gray;
   }
  }
}




body
{
  font-family:  Helvetica,Arial,sans-serif;
}

@media screen {

h1, h1 a { font-size: 35px;  /* 10x3.5 */ }
h2 { font-size: 30px;  /* 10x3  */ }
h3 { font-size: 25px;  /* 10x2.5 */ }

td, div, p, li, a,
input, select, textarea, label  { font-size: 20px; /*10x2*/ }

textarea { font-family:  Helvetica,Arial,sans-serif; }

}

.ranking1 {
  td, a { font-size: 36px; /* 10x2 x 180% */ }  /* todo: use scss calc */
}
.ranking2 {
  td, a { font-size: 30px; /* 10x2 x 150% */ }
}
.ranking3 {
  td, a { font-size: 24px; /* 10x2 x 120% */ }
}


@media print {

/* use default font-size for now */

  .navbar            { display: none; }
  .buttons, .actions { display: none; }   /* todo: add buttons in div.buttons */
}


.x-smaller {  font-size: 60%;  }
.smaller   {  font-size: 80%;  }
.larger    {  font-size: 120%; }
.x-larger  {  font-size: 140%; }
.xx-larger {  font-size: 160%; }

.light {  color: grey; }



.bingo {
    display: inline-block;
    border-radius: 5px;
    background-color: $bingoBackground;
    color:            $bingoText;
    padding: 4px;
    font-weight: bold;
}


.bingoo {
    display: inline-block;
    border-radius: 5px;
    background-color:  $bingooBackground;
    color:             $bingooText;
    padding: 4px;
    font-weight: bold;
}

.bingooo {
    display: inline-block;
    border-radius: 5px;
    background-color: $bingoooBackground;
    color:            $bingoooText;
    padding: 4px;
    font-weight: bold;
}

/** todo: use scss variables for colors */
.fail {
    display: inline-block;
    border-radius: 5px;
    background-color: red;
    color:            white;
    padding: 4px;
    font-weight: bold;
}

.missing {
    display: inline-block;
    border-radius: 5px;
    background-color: $missingBackground;
    color:            $missingText;
    padding: 4px;
    font-weight: bold;
}


ul {
    list-style-type: square;

    &.none {
      list-style-type: none;
    }
}


a {
  color: black;
  text-decoration: none;

  &:hover {
   color: black; 
   text-decoration: underline;
  }

  &:visited { color: black; }
}



.navbar {
    @include linear-gradient(top, #333, #222, $fallback: #2C2C2C);

    color: white;
    padding: 10px 20px;
    text-align: right;
    margin-bottom: 6px;

     a,
     a:visited {
       text-decoration: none;
       color: white;
     }
     
     a:hover {
       text-decoration: underline;
       color: white;
     }
}


.flash {
   padding: 8px 14px;
   border-radius:  4px;

   &.error {
    color:            $errorText;
    background-color: $errorBackground;
    border: 1px solid $errorBorder;
  }

   &.success {
     color:            $successText;
     background-color: $successBackground;
     border: 1px solid $successBorder;
   }

   &.notice {
     color:             $noticeText;
     background-color:  $noticeBackground;
     border: 1px solid  $noticeBorder;
   }
}


a:hover.btn-primary
{
  background-color: #04C;
  /* note: doesn't work; still display background-image gradient */
}

a.btn-primary,
a:visited.btn-primary
{
   color: white;
   text-decoration: none;
}

.btn-primary
{
   display: inline-block;
   padding: 4px 10px 4px;
   text-align: center;
   color: white;
   @include linear-gradient(top, #08C, #04C, $fallback: #04C);
   @include border-radius(4px);
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

a:hover.btn
{
  color: #333;
  background-color: #E6E6E6;
}

a.btn,
a:visited.btn
{
   display: inline-block;
   padding: 4px 10px 4px;
   text-align: center;
   color: #333;
   @include linear-gradient(top, white, #E6E6E6, $fallback: #E6E6E6);
   @include border-radius(4px);
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.1);
      
   text-decoration: none;
}


/************************
/* yellow background for input controls w/ focus
 */

input.focus, select.focus, textarea.focus, option.focus, textarea.focus {
    background-color: $focusBackground;
}

span.focus {
    background-color: $focusBackground;
    padding-top: 3px;
}
