.navbar {
    @include linear-gradient(top, $navbar-gradient-top,
                                  $navbar-gradient-bottom,
                                  $fallback: $navbar-gradient-fallback);

/*    @include linear-gradient(top, blue,
                                  navy);
*/

    color: $navbar-text;
    padding: 10px 20px;
    /* text-align: right; */
    margin-bottom: 6px;

     a,
     a:visited {
       text-decoration: none;
       color: $navbar-text;
     }
     
     a:hover {
       text-decoration: underline;
       color: $navbar-text;
     }
     
     .signin, .signin *,
     .signout, .signout * {
       font-size: $base-font-size*0.80; 
     }
     
     .logo {
        a,a:visited,a:hover {
           text-decoration: none;
           color: $navbar-text;
        }
    }
}


$admin-navbar-gradient-top:    red;
$admin-navbar-gradient-bottom: maroon;
$admin-navbar-text:            white;

.admin.navbar {
    @include linear-gradient(top, $admin-navbar-gradient-top, $admin-navbar-gradient-bottom);

/*    @include linear-gradient(top, blue,
                                  navy);
*/

    color: $admin-navbar-text;
    padding: 10px 20px;
    /* text-align: right; */
    margin-bottom: 6px;

     a,
     a:visited {
       text-decoration: none;
       color: $admin-navbar-text;
     }
     
     a:hover {
       text-decoration: underline;
       color: $admin-navbar-text;
     }
     
     .signin, .signin *,
     .signout, .signout * {
       font-size: $base-font-size*0.80; 
     }
     
     .logo {
        a,a:visited,a:hover {
           text-decoration: none;
           color: $admin-navbar-text;
        }
    }
}


$db-navbar-gradient-top:    lime;
$db-navbar-gradient-bottom: green;
$db-navbar-text:            white;

.db.navbar {
    @include linear-gradient(top, $db-navbar-gradient-top, $db-navbar-gradient-bottom);

/*    @include linear-gradient(top, blue,
                                  navy);
*/

    color: $db-navbar-text;
    padding: 10px 20px;
    /* text-align: right; */
    margin-bottom: 6px;

     a,
     a:visited {
       text-decoration: none;
       color: $db-navbar-text;
     }
     
     a:hover {
       text-decoration: underline;
       color: $db-navbar-text;
     }
     
     .signin, .signin *,
     .signout, .signout * {
       font-size: $base-font-size*0.80; 
     }
     
     .logo {
        a,a:visited,a:hover {
           text-decoration: none;
           color: $db-navbar-text;
        }
    }
}



/////////////////////
// color style classes for test page (use like <span class='color navbar-gradient-top'></span>)
     
.navbar-text              { background-color: $navbar-text;             }
.navbar-gradient-top      { background-color: $navbar-gradient-top;      }
.navbar-gradient-bottom   { background-color: $navbar-gradient-bottom;   }
.navbar-gradient-fallback { background-color: $navbar-gradient-fallback; }
